BACKEND_JWT_SECRET=<jwt_secret>
BACKEND_PORT=3000
BACKEND_FRONTEND_URL=http://localhost:8000
BACKEND_RESEND_API_KEY=<re_token_api_key>

FRONTEND_PORT=8000
FRONTEND_PORT_CONTAINER=8000 # 80 Nginx for production
FRONTEND_BACKEND_URL=http://localhost:3000